backend/app/__pycache__/*
backend/app/__pycache__/*
backend/app/migrations/__pycache__/*
backend/backend/__pycache__/*
Front/node_modules/*
Front/debug.log
.vscode
Projet_Back/db.sqlite3
Projet_Back/Pipfile
